{{!-- <h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker! --}}

<body class="body-nav">
     
      
  <div class="main-nav">
    <img src="/images/199-1995671_axolotl-png-6-png-image-transparent-axolotl.png">
{{#if user}}
{{user.username}}
{{/if}}
</div>

<nav>
<a href="/auth/signup"> Signup</a>
<a href="/auth/login"> Login</a>
<a href="/auth/logout"> Logout</a>

</nav>
<div class="text-index">
     <h1>Find out which set of cryptocurrencies match your profile</h1>
     <p>Fill out the survey on your profile and find out which currencies match your investor profile
</p>
</div>

</body>