<body class="body-favoritos">
    
<div class="box-favoritos">
<h1>Your Wallet</h1>

{{#each userInSession.suggested}}
{{!-- <p>{{this}}</p> --}}
<a href="/coins/{{this.symbol}}">{{this.name}}<br></a>

<form action="/wallet/{{this.symbol}}/delete" method="post">
<button type="submit">Delete</button>
</form> 

{{/each}}
<br>
</div>
<div class="box-select-market">
<a href="/coins/"> Select your favorites Coins</a>
</div>

</body>