<div class="form">
        <form action="/wallet/{{coin._id}}/edit" method="post">

    <input type="text" name="name" value="{{coin.symbol}}">
    

<button type="submit">Submit</button>
</form>
    </div>