<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="/project-2/chart/index.js"></script>
</head>
<body>
    <canvas id="myChart" width="400px" height="400px"></canvas>
    <script>

const apiUrl = `https://coinlib.io/api/v1/coinlist?key=0c7241950e572722`;
let pricesArr = [];
let volumeArr = [];
let pricesData = pricesArr.slice(3,40);
let volumeData = volumeArr.slice(3,40);

        axios
  .get(apiUrl)
  .then(responseFromAPI => {
    

    responseFromAPI.data.coins.forEach((coin, i) => {
        if(i > 3 && i < 40 ){
            pricesArr.push(coin.symbol);
            volumeArr.push(coin.market_cap)
        } 
    })
 
    console.log(pricesArr);
    console.log(volumeArr);


   
   
    //printTheChart(responseFromAPI.data); // <== call the function here where you used to console.log() the response
   })

  .catch(err => console.log('Error while getting the data: ', err));
   
  /* function printTheChart(){
    const price = responseFromAPI.data.coins[0].price;
    const volume =responseFromAPI.data.coins[0].volume_24h;

  } */  
        const ctx = document.getElementById('myChart').getContext('2d');
    
        const myChart = new Chart(ctx, {


            type: 'bar',
            data: {
                labels: pricesArr,
                datasets: [{
                    label: 'Market cap without the big ones',
                    data: volumeArr,
                    backgroundColor: [
                        'rgb(25,25,112)',
                        'rgb(0,139,139)',
                        'rgb(0,100,0)',
                        'rgb(218,165,32)',
                        'rgb(75,0,130)',
                        'rgb(25,25,112)',
                        'rgb(0,139,139)',
                        'rgb(0,100,0)',
                        'rgb(218,165,32)',
                        'rgb(75,0,130)',
                        'rgb(25,25,112)',
                        'rgb(0,139,139)',
                        'rgb(0,100,0)',
                        'rgb(218,165,32)',
                        'rgb(75,0,130)',
                        'rgb(25,25,112)',
                        'rgb(0,139,139)',
                        'rgb(0,100,0)',
                        'rgb(218,165,32)',
                        'rgb(75,0,130)',
                        'rgb(25,25,112)',
                        'rgb(0,139,139)',
                        'rgb(0,100,0)',
                        'rgb(218,165,32)',
                        'rgb(75,0,130)',
                        'rgb(25,25,112)',
                        'rgb(0,139,139)',
                        'rgb(0,100,0)',
                        'rgb(218,165,32)',
                        'rgb(75,0,130)',
                        'rgb(25,25,112)',
                        'rgb(0,139,139)',
                        'rgb(0,100,0)',
                        'rgb(218,165,32)',
                        'rgb(75,0,130)',
                        'rgb(25,25,112)',
                        'rgb(0,139,139)',
                        'rgb(0,100,0)',
                        'rgb(218,165,32)',
                        'rgb(75,0,130)',
                        'rgb(25,25,112)',
                        'rgb(0,139,139)',
                        'rgb(0,100,0)',
                        'rgb(218,165,32)',
                        'rgb(75,0,130)',
                        'rgb(25,25,112)',
                        'rgb(0,139,139)',
                        'rgb(0,100,0)',
                        'rgb(218,165,32)',
                        'rgb(75,0,130)',
                        'rgb(25,25,112)',
                        'rgb(0,139,139)',
                        'rgb(0,100,0)',
                        'rgb(218,165,32)',
                        'rgb(75,0,130)',
                        'rgb(25,25,112)',
                        'rgb(0,139,139)',
                        'rgb(0,100,0)',
                        'rgb(218,165,32)',
                        'rgb(75,0,130)',
                        'rgb(0,139,139)',
                        'rgb(0,100,0)',
                        'rgb(218,165,32)',
                        'rgb(75,0,130)',
                        'rgb(25,25,112)',
                        'rgb(0,139,139)',
                        'rgb(0,100,0)',
                        'rgb(218,165,32)',
                        'rgb(75,0,130)',
                        'rgb(25,25,112)',
                        'rgb(0,139,139)',
                        'rgb(0,100,0)',
                        'rgb(218,165,32)',
                        'rgb(75,0,130)',
                        'rgb(25,25,112)',
                        'rgb(0,139,139)',
                        'rgb(0,100,0)',
                        'rgb(218,165,32)',
                        'rgb(75,0,130)',
                        'rgb(0,139,139)',
                        'rgb(0,100,0)',
                        'rgb(218,165,32)',
                        'rgb(75,0,130)',
                        'rgb(25,25,112)',
                        'rgb(0,139,139)',
                        'rgb(0,100,0)',
                        'rgb(218,165,32)',
                        'rgb(75,0,130)',
                        'rgb(25,25,112)',
                        'rgb(0,139,139)',
                        'rgb(0,100,0)',
                        'rgb(218,165,32)',
                        'rgb(75,0,130)',
                        'rgb(25,25,112)',
                        'rgb(0,139,139)',
                        'rgb(0,100,0)',
                        'rgb(218,165,32)',
                        'rgb(75,0,130)',
                        'rgb(255, 159, 64,)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                         'rgb(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
               
            }
        });

        </script>

</body>
</html>