<h1>All Market</h1>

{{#each coins}}<br>
<a href="/coins/{{symbol}}">{{name}}</a>
<form action="/wallet/{{symbol}}" method="post">
<button type="submit">Add to favorite</button>
</form>
<br>
{{/each}}

